<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Registro de Dados</title>
    </head>
    <body>

        <h2>Registrar</h2>
        <form action="/show" method="POST">
            <input type ="text" placeholder="Nome" name="name">
            <br /><br />
            <input type ="text" placeholder="Sobrenome" name="surname">
            <br /><br />
            <input type ="email" placeholder="example@example.com" name="email">
            <br /><br />
            <input type ="password" placeholder="Senha" name="password">
            <br /><br />
            <button type ="submit">Enviar</button>
            <button type="button" onclick="window.location.href ='/login';">Já tenho conta</button>
        </form>

    </body>
</html>