
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>

        <h2>Acessar Conta</h2>
        <form action="/login" method="POST">
            <input type ="email" placeholder="Email" name="email">
            <br /><br />
            <input type ="password" placeholder="Senha" name="password">
            <br /><br />
            <button type ="submit">Entrar</button>
            <button type="button" onclick="window.location.href ='/';">Cadastrar usuário</button>
        </form>

    </body>
</html>